{{ 'section-SLAY__collection-list.css' | asset_url | stylesheet_tag }}





<div class="pw cols__wrapper" id="section-id">
    <div class="cols__item"></div>
    <div class="cols__item"></div>
    <div class="cols__item"></div>
</div>