@layer base, utils

@font-face {
  font-family: "Manrope";
  src: url("{{ '[Manrope-Regular]' | asset_url }}") format("[font-format]");
}





@layer base {

  .hidden {
    display: none !important;
  }
  
  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
  }
  
  .visually-hidden--inline {
    margin: 0;
    height: 1em;
  }

}



@layer utils {

  .p-1 {padding: 1rem;}
  .p-2 {padding: 1.5rem;}
  .p-3 {padding: 2rem;}
  .p-4 {padding: 2.5rem;}
  .p-5 {padding: 3rem;}

  .p-v-1 {padding: 1rem 0;}
  .p-v-2 {padding: clamp(0.5rem, 1.5rem, 4vh) 0;}
  .p-v-3 {padding: 2rem 0;}
  .p-v-4 {padding: 2.5rem 0;}
  .p-v-5 {padding: 3rem 0;}

  .p-h-1 {padding: 0 1rem;}
  .p-h-2 {padding: 0 1.5rem;}
  .p-h-3 {padding: 0 2rem;}
  .p-h-4 {padding: 0 2.5rem;}
  .p-h-5 {padding: 0 3rem;}


  .pw {
    max-width: var(--pw-desktop);
  }


}